*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1.3fr 2fr;
    grid-gap: 10px;
    .footer__sante {
        text-align: center;
        padding: 20px 0;
        grid-column: 1/4;
    }
    .footer__list {
        text-align: center;
        display: block;
        padding-top: 40px;
        a {
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            img {
                margin-top: 10px;
                margin-left: 10px;
            }
        }
        .footer__list--Accueil {
            color: #1A519E;
            margin: 20px 0;
            
        }
        .footer__list--Conseil {
            color: #2B2B2C;
        }
        .footer__list--button {
            border: 1.2px solid #1A519E;
            padding: 0px 10px 3px 8px;
            border-radius: 10px;
            font-size: 16px;
            width: 100px;
            margin: auto;
            img {
                max-width: 19px;
                min-height: 20px;
            }
        }
    }
    .footer__contact {
        text-align: center;
        h3 {
            font-size: 27px;
            color: #1078AD;
            font-weight: bold;
        }
        p {
            font-size: 19px;
            color: #2B2B2C;
            font-weight: bold;
            margin: 10px 0;
        }
        a {
            font-size: 27px;
            color: #369D53;
            font-weight: bold;
            text-decoration: none;
        }
    }
    .footer__parag {
        font-size: 18;
        color: #7F7F7F;
        font-weight: 400;
        line-height: 36px;
        padding-top: 60px;
        padding-left: 40px;
    }
    .footer__bar {
        background-color: #1078AD;
        margin-top: 50px;
        height: 36px;
        grid-column: 1/4;
    }
}